<%= render 'shared/html_header' %>
<body class="<%= controller_name %> <%= action_name %>">
  <div id="header">
    <%= render 'shared/logo' %>
    <%= render "shared/top_nav" %>
  </div>

  <% flash.each do |message_type, message| %>
    <div class="panel alert <%= message_type %>"><%= message %></div>
  <% end %>

  <div id="wrapper">
    <%= yield %>
  </div>

</body>
</html>
